* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
    width: 100%;
}

body {
    background: #1A1A1D;
    font-family: 'Poppins', sans-serif;  
    background-image: url(background.png);
    background-size: cover;               
    background-repeat: no-repeat;
    background-position: center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: auto;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background: transparent;
}


img {
    width: 50px;
    text-align: center;
    margin-bottom: 30px;

}

.logo a{
    /* color: #c3073f; */
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    height: 100%;
}

.nav-links li {
    list-style: none;
}

.nav-links ul {
    height: 0%;
}

.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 500;
    font-size: 18px;
    cursor:pointer;
}



a.links
{
    position: relative;
}

a.links:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

a.links:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }

.burger div {
    width: 25px;
    height:3px;
    background-color: #4e4e50;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.burger {
    display: none;
}

@media screen and (max-width:1024px) {
    /* body {
        position: relative;
    } */
    .nav-links {
        width: 50%;
    }
    
}

@media screen and (max-width: 768px) {

    /* body {
        position: relative;
    } */
    
    nav {
        background: #2a2a2b;
    }

    .nav-links {
        background: #2a2a2b;
        position: absolute;
        right: 0;
        height: 100%;
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    
    .nav-links li {
        opacity: 0;
    }
    
    .burger {
        display: block
    }
}

.nav-active {
    transform: translateX(0%);
    z-index: 2;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.content {
    text-align: center;
    margin: 10% auto 0 auto;
}

.content .text {
    font-size: 20px;
}

.text h2, .text h1 {
    /* color: #c3073f; */
    color: white;
}

.fourth {
    color: white;
}

.para {
    max-width: max-content;
    text-align:left;
    color: white;
    padding: 50px 300px 0 300px;
}

.social {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 70px;
    font-size: 30px;
}
.social-links {
    list-style: none;
    letter-spacing: 30px;
    transform: scale(0.5);
    transition: 0.3s;
}
.social-links:hover {
    transform: scale(0.5) translateY(-15px);
}

i {
    color: #FFF;
}

.hidden {
    display: none;
}

.hidden-ds {
    padding-bottom: 20px;
    color: white;
    font-size: 30px;
}

.hidden-ct {
    padding-bottom: 10px;
    color: white;
    font-size: 30px;
}
.hidden-ct-p {
    color: white;
    font-weight: 400;
    font-size: 18px;
    color: #3d84b8;
}
.hidden-ct-p-email {
    color: grey;
    font-weight: 400;
    font-size: 18px;
}

.hidden-rs {
    padding-bottom: 10px;
    color: white;
    font-size: 30px;
}
.hidden-rs-p {
    color: #3d84b8;
    font-size: 18px;
    margin-bottom: 10px;
}

.hidden-rs-links {
    letter-spacing: 2px;
    margin: 2px;
    list-style-type: none;
    font-size: 18px;
    letter-spacing:2px;
    line-height: 2.5rem;
}

.hidden-rs-links a {
    color: white;
    transition: all 0.3s ease;
}
.hidden-rs-links a:hover {
    color: #83cdff;
}

.dg-para {
    font-size: 20px;
    color: white;
    padding: 20px;
}

.footer-para {
  
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    max-height: 10vh;
}

.contact {
    display: grid;
    justify-content: center;
    margin: 80px auto;
}
.contact h1 {
    color: white;
    font-size: 42px;
    text-align: center;
}
.contact p {
    color: white;
    text-align: center;
    font-size: 18px;
}

.contact-form {
    display: grid;
    padding: 20px;
}
.contact-form input, .contact-form textarea {
    padding: 20px;
    margin: 20px;
    outline: none;
    border: none;
    transition: all 0.1s ease-in-out;
}
.form-button {
    margin: 20px;
    width: 50%;
    padding: 15px;
    border: solid 1px white;
    outline: none;
    transition: all 0.3s ease;
    cursor: pointer;
}
.form-button:hover {
    background: transparent;
    color: white;
    border:solid 1px white;
}
.button-container {
    text-align: center;
}

/* input:focus, textarea:focus {
    outline: solid 3px #ffffff;
} */

.footer-email{
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.footer-email span {
    color: #3d84b8;
}


.roster-container {
    text-align: center;
    margin-top: 8%;
}

.roster-container h1 {
    color: white;
    font-size: 40px;
}

.roster-container h2 {
    color: white;
    margin-top: 5px;
}


.hidden-rs-link-head {
    padding: 50px;
}


@media screen and (max-width: 1260px) {

    .para {
        padding: 50px 30px 0 30px;
    }

}
